:root {
  --gray-color: #bfbfbf;
  --background-gray: #ebedee;
  --text-gray-light: #9e9e9e;
  --text-gray-dark: #666666;
  --text-gray-medium: #909090;
  --button-blue: #2bb1ba;
  --white: #ffffff;
}
