.offer {
  display: flex;
  justify-content: center;
  background-color: var(--background-gray);

  &__container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 1285px;
  }

  &__image {
    height: 600px;

    img {
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }

  &__details {
    background-color: var(--white);
    padding: 30px;
    width: auto;

    &-info {
      border-bottom: 1px solid var(--background-gray);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 20px 0;
      padding-bottom: 60px;
      width: auto;

      p {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .offer__info-key {
        color: var(--text-gray-light);
      }

      .offer__info-value {
        color: var(--text-gray-dark);
        font-weight: 600;
      }
    }
  }

  &__price {
    font-size: 26px;
    margin-bottom: 20px;
  }

  &__description {
    margin-top: 60px;

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      color: var(--text-gray-medium);
      font-size: 18px;
    }

    .offer__owner {
      display: flex;
      align-items: center;
      margin: 20px 0 60px 0;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 20px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }

  &__buy-button {
    height: 45px;
    width: 340px;
    background-color: var(--button-blue);
    border-radius: 4px;
    font-size: 16px;
    color: var(--white);
    margin-top: 32px;
    padding: 0 14px;
    cursor: pointer;
  }
  @media (max-width: 1080px) {
    &__image {
      height: auto; // Adaptez la hauteur si nécessaire
      width: 320px;
    }
  }

  @media (max-width: 768px) {
    &__details {
      width: 280px; // Ajustez la largeur de details
    }

    &__image {
      width: 200px;
    }

    &__buy-button {
      width: 280px; // Ajustez la largeur du bouton d'achat
    }
  }

  @media (max-width: 620px) {
    &__container {
      width: auto;
      gap: 10px;
      flex-direction: column;
      align-items: center; // Occuper toute la largeur
    }

    &__image {
      width: 200px; // Largeur de l'image pour mobile
    }

    &__details {
      width: 250px; // Ajustez la largeur des détails
    }

    &__buy-button {
      width: 250px; // Largeur du bouton d'achat
    }
  }
}
