.connect {
  display: flex;
  justify-content: center;
}

.connect h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.connect p {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ababab;
  line-height: 1.25;
}

.connect span {
  color: #2bb1ba;
  font-size: 14px;
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 280px;
}

.connect-label {
  margin-bottom: 20px;
  border-bottom: 1px solid #fcced3;
  padding: 10px 0;
  opacity: 50%;
}

.connect-label input {
  border: none;
  font-size: 16px;
}

.checkbox-label {
  color: #8f8f8f;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#checkbox-newsletter {
  margin-right: 20px;
  transform: scale(2);
}

.button-connect--secondary {
  border-radius: 5px;
  border: 1px solid #2bb1ba;
  background-color: #2bb1ba;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
}
