@font-face {
  font-family: "Maison neue book";
  src: url("./assets/FontsFree-Net-Maison-Neue-Book.ttf") format("truetype");
}

body {
  font-family: "Maison neue book";
}

button {
  border-radius: 5px;
  border: 1px solid #2bb1ba;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1080px) {
  .offer-product-image {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .product-infos {
    width: 280px;
  }
  .offer-product-image {
    width: 200px;
  }
  .buy-button {
    width: 280px;
  }
}
@media (max-width: 620px) {
  .box-offer {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .offer-product-image {
    width: 200px;
  }
  .product-infos {
    width: 300px;
  }
  .buy-button {
    width: 280px;
  }
}
