@font-face {
  font-family: "Maison neue book";
  src: url("./assets/FontsFree-Net-Maison-Neue-Book.ttf") format("truetype");
}

body {
  font-family: "Maison neue book";
}

button {
  border-radius: 5px;
  border: 1px solid #2bb1ba;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}
